
<div>
    <button class="tablink" routerLink="/add-restaurant" routerLinkActive="active">Add Restaurant</button>
    <button class="tablink" routerLink="/list-restaurants" routerLinkActive="active">List of Restaurants</button>
    <div class="container">
        <button mat-icon-button class="logout-button" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
</div>

<div class="para">
    <h4>Hi Admin!!! Please Add the new Restaurants or Check the Restaurants</h4>
</div>